{
    "openapi": "3.0.1",
    "info": {
      "version": "CA",
      "title": "Youforce Learning API",
      "description": "Provides API's for learning domain"
    },
    "servers": [
      {
        "url": "https://api.youforce.com/learning"
      }
    ],
    "paths": {
      "/v1.0/employees": {
        "get": {
          "tags": [
            "Employee"
          ],
          "summary": "Returns all employees.",
          "parameters": [
            {
              "name": "pageToken",
              "in": "query",
              "schema": {
                "type": "string",
                "nullable": true
              }
            },
            {
              "name": "take",
              "in": "query",
              "schema": {
                "type": "integer",
                "format": "int32",
                "default": 100
              }
            },
            {
              "name": "changedAfter",
              "in": "query",
              "description": "Filter recods which are changed after the date and time given (Utc time). Optional.",
              "schema": {
                "type": "string",
                "description": "Filter recods which are changed after the date and time given (Utc time). Optional.",
                "format": "date-time",
                "nullable": true
              }
            },
            {
              "name": "changedUntil",
              "in": "query",
              "description": "Filter records which are changed before the date and time given. Maximum allowed value is current Utc time. Optional.",
              "schema": {
                "type": "string",
                "description": "Filter records which are changed before the date and time given. Maximum allowed value is current Utc time. Optional.",
                "format": "date-time",
                "nullable": true
              }
            },
            {
              "name": "personcode",
              "in": "query",
              "description": "Fitler records which belong to the given person code.",
              "schema": {
                "type": "string",
                "description": "Fitler records which belong to the given person code.",
                "nullable": true
              }
            },
            {
              "name": "X-Raet-Tenant-Id",
              "in": "header",
              "description": "Tenant Id",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/Employee"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/v1.0/employees/{personId}": {
        "get": {
          "tags": [
            "Employee"
          ],
          "summary": "Returns all employees.",
          "parameters": [
            {
              "name": "personId",
              "in": "path",
              "description": "Fitler records which belong to the given person ID.",
              "required": true,
              "schema": {
                "type": "string",
                "description": "Fitler records which belong to the given person ID.",
                "nullable": true
              }
            },
            {
              "name": "pageToken",
              "in": "query",
              "schema": {
                "type": "string",
                "nullable": true
              }
            },
            {
              "name": "take",
              "in": "query",
              "schema": {
                "type": "integer",
                "format": "int32",
                "default": 100
              }
            },
            {
              "name": "changedAfter",
              "in": "query",
              "description": "Filter recods which are changed after the date and time given (Utc time). Optional.",
              "schema": {
                "type": "string",
                "description": "Filter recods which are changed after the date and time given (Utc time). Optional.",
                "format": "date-time",
                "nullable": true
              }
            },
            {
              "name": "changedUntil",
              "in": "query",
              "description": "Filter records which are changed before the date and time given. Maximum allowed value is current Utc time. Optional.",
              "schema": {
                "type": "string",
                "description": "Filter records which are changed before the date and time given. Maximum allowed value is current Utc time. Optional.",
                "format": "date-time",
                "nullable": true
              }
            },
            {
              "name": "X-Raet-Tenant-Id",
              "in": "header",
              "description": "Tenant Id",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/Employee"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/v1.0/employees/{personCode}/documents/certificate": {
        "post": {
          "tags": [
            "Employee"
          ],
          "parameters": [
            {
              "name": "personCode",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "nullable": true
              }
            },
            {
              "name": "X-Raet-Tenant-Id",
              "in": "header",
              "description": "Tenant Id",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/CertificateResponseDto"
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/CertificateResponseDto"
                  }
                }
              }
            }
          }
        }
      },
      "/v1.1/employees/{personCode}/documents/certificate": {
        "post": {
          "tags": [
            "Employee"
          ],
          "parameters": [
            {
              "name": "personCode",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "nullable": true
              }
            },
            {
              "name": "X-Raet-Tenant-Id",
              "in": "header",
              "description": "Tenant Id",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/CertificateResponseDto"
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/CertificateResponseDto"
                  }
                }
              }
            }
          }
        }
      },
      "/v1.1/employees/{personCode}/documents/diploma": {
        "post": {
          "tags": [
            "Employee"
          ],
          "parameters": [
            {
              "name": "personCode",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "nullable": true
              }
            },
            {
              "name": "X-Raet-Tenant-Id",
              "in": "header",
              "description": "Tenant Id",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/CertificateResponseDto"
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/CertificateResponseDto"
                  }
                }
              }
            }
          }
        }
      },
      "/v1.1/employees/{personCode}/documents/appraisalReview": {
        "post": {
          "tags": [
            "Employee"
          ],
          "parameters": [
            {
              "name": "personCode",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "nullable": true
              }
            },
            {
              "name": "X-Raet-Tenant-Id",
              "in": "header",
              "description": "Tenant Id",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/CertificateResponseDto"
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/CertificateResponseDto"
                  }
                }
              }
            }
          }
        }
      },
      "/v1.1/employees/{personCode}/documents/performanceReview": {
        "post": {
          "tags": [
            "Employee"
          ],
          "parameters": [
            {
              "name": "personCode",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "nullable": true
              }
            },
            {
              "name": "X-Raet-Tenant-Id",
              "in": "header",
              "description": "Tenant Id",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/CertificateResponseDto"
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/CertificateResponseDto"
                  }
                }
              }
            }
          }
        }
      },
      "/v1.1/employees/{personCode}/documents/careerAgreement": {
        "post": {
          "tags": [
            "Employee"
          ],
          "parameters": [
            {
              "name": "personCode",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "nullable": true
              }
            },
            {
              "name": "X-Raet-Tenant-Id",
              "in": "header",
              "description": "Tenant Id",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/CertificateResponseDto"
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/CertificateResponseDto"
                  }
                }
              }
            }
          }
        }
      },
      "/v1.1/employees/{personCode}/documents/careerMail": {
        "post": {
          "tags": [
            "Employee"
          ],
          "parameters": [
            {
              "name": "personCode",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "nullable": true
              }
            },
            {
              "name": "X-Raet-Tenant-Id",
              "in": "header",
              "description": "Tenant Id",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/CertificateResponseDto"
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/CertificateResponseDto"
                  }
                }
              }
            }
          }
        }
      },
      "/v1.1/employees/{personCode}/documents/careerOther": {
        "post": {
          "tags": [
            "Employee"
          ],
          "parameters": [
            {
              "name": "personCode",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "nullable": true
              }
            },
            {
              "name": "X-Raet-Tenant-Id",
              "in": "header",
              "description": "Tenant Id",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/CertificateResponseDto"
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/CertificateResponseDto"
                  }
                }
              }
            }
          }
        }
      },
      "/v1.0/employees/documents/{ticketId}/status": {
        "get": {
          "tags": [
            "Employee"
          ],
          "parameters": [
            {
              "name": "ticketId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "nullable": true
              }
            },
            {
              "name": "X-Raet-Tenant-Id",
              "in": "header",
              "description": "Tenant Id",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/FileUploadStatusDto"
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/FileUploadStatusDto"
                  }
                }
              }
            }
          }
        }
      },
      "/v1.0/companies": {
        "get": {
          "tags": [
            "Company"
          ],
          "summary": "Returns all companies for that tenant.",
          "parameters": [
            {
              "name": "pageToken",
              "in": "query",
              "schema": {
                "type": "string",
                "nullable": true
              }
            },
            {
              "name": "take",
              "in": "query",
              "schema": {
                "type": "integer",
                "format": "int32",
                "default": 100
              }
            },
            {
              "name": "changedAfter",
              "in": "query",
              "description": "Filter recods which are changed after the date and time given (Utc time). Optional.",
              "schema": {
                "type": "string",
                "description": "Filter recods which are changed after the date and time given (Utc time). Optional.",
                "format": "date-time",
                "nullable": true
              }
            },
            {
              "name": "changedUntil",
              "in": "query",
              "description": "Filter records which are changed before the date and time given. Maximum allowed value is current Utc time. Optional.",
              "schema": {
                "type": "string",
                "description": "Filter records which are changed before the date and time given. Maximum allowed value is current Utc time. Optional.",
                "format": "date-time",
                "nullable": true
              }
            },
            {
              "name": "X-Raet-Tenant-Id",
              "in": "header",
              "description": "Tenant Id",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/Company"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/v1.0/companies/{companyCode}": {
        "get": {
          "tags": [
            "Company"
          ],
          "summary": "Returns company by Company Code.",
          "parameters": [
            {
              "name": "companyCode",
              "in": "path",
              "description": "Fitler records which belong to the given short name.",
              "required": true,
              "schema": {
                "type": "string",
                "description": "Fitler records which belong to the given short name.",
                "nullable": true
              }
            },
            {
              "name": "pageToken",
              "in": "query",
              "schema": {
                "type": "string",
                "nullable": true
              }
            },
            {
              "name": "take",
              "in": "query",
              "schema": {
                "type": "integer",
                "format": "int32",
                "default": 100
              }
            },
            {
              "name": "validAt",
              "in": "query",
              "description": "Returns the company valid at that moment.",
              "schema": {
                "type": "string",
                "description": "Returns the company valid at that moment.",
                "format": "date-time",
                "nullable": true
              }
            },
            {
              "name": "X-Raet-Tenant-Id",
              "in": "header",
              "description": "Tenant Id",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Company"
                  }
                }
              }
            }
          }
        }
      },
      "/v1.0/contractTypes": {
        "get": {
          "tags": [
            "ContractType"
          ],
          "summary": "Returns all employment types for that tenant.",
          "parameters": [
            {
              "name": "pageToken",
              "in": "query",
              "schema": {
                "type": "string",
                "nullable": true
              }
            },
            {
              "name": "take",
              "in": "query",
              "schema": {
                "type": "integer",
                "format": "int32",
                "default": 100
              }
            },
            {
              "name": "changedAfter",
              "in": "query",
              "description": "Filter recods which are changed after the date and time given (Utc time). Optional.",
              "schema": {
                "type": "string",
                "description": "Filter recods which are changed after the date and time given (Utc time). Optional.",
                "format": "date-time",
                "nullable": true
              }
            },
            {
              "name": "changedUntil",
              "in": "query",
              "description": "Filter records which are changed before the date and time given. Maximum allowed value is current Utc time. Optional.",
              "schema": {
                "type": "string",
                "description": "Filter records which are changed before the date and time given. Maximum allowed value is current Utc time. Optional.",
                "format": "date-time",
                "nullable": true
              }
            },
            {
              "name": "X-Raet-Tenant-Id",
              "in": "header",
              "description": "Tenant Id",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/ContractType"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/v1.0/contractTypes/{contractTypeCode}": {
        "get": {
          "tags": [
            "ContractType"
          ],
          "summary": "Returns employmentType by Employment Type Code.",
          "parameters": [
            {
              "name": "contractTypeCode",
              "in": "path",
              "description": "Fitler records which belong to the given Code.",
              "required": true,
              "schema": {
                "type": "string",
                "description": "Fitler records which belong to the given Code.",
                "nullable": true
              }
            },
            {
              "name": "validAt",
              "in": "query",
              "description": "Returns the employmentType valid at that moment.",
              "schema": {
                "type": "string",
                "description": "Returns the employmentType valid at that moment.",
                "format": "date-time",
                "nullable": true
              }
            },
            {
              "name": "X-Raet-Tenant-Id",
              "in": "header",
              "description": "Tenant Id",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ContractType"
                  }
                }
              }
            }
          }
        }
      },
      "/v1.0/jobprofiles": {
        "get": {
          "tags": [
            "JobProfile"
          ],
          "summary": "Returns all JobProfiles.",
          "parameters": [
            {
              "name": "pageToken",
              "in": "query",
              "schema": {
                "type": "string",
                "nullable": true
              }
            },
            {
              "name": "take",
              "in": "query",
              "schema": {
                "type": "integer",
                "format": "int32",
                "default": 100
              }
            },
            {
              "name": "changedAfter",
              "in": "query",
              "description": "Filter recods which are changed after the date and time given (Utc time). Optional.",
              "schema": {
                "type": "string",
                "description": "Filter recods which are changed after the date and time given (Utc time). Optional.",
                "format": "date-time",
                "nullable": true
              }
            },
            {
              "name": "changedUntil",
              "in": "query",
              "description": "Filter records which are changed before the date and time given. Maximum allowed value is current Utc time.\r\nMandatory when changedAfter is given.",
              "schema": {
                "type": "string",
                "description": "Filter records which are changed before the date and time given. Maximum allowed value is current Utc time.\r\nMandatory when changedAfter is given.",
                "format": "date-time",
                "nullable": true
              }
            },
            {
              "name": "X-Raet-Tenant-Id",
              "in": "header",
              "description": "Tenant Id",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/JobProfile"
                    }
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/JobProfile"
                  }
                }
              }
            }
          }
        }
      },
      "/v1.0/organizationUnits": {
        "get": {
          "tags": [
            "OrganizationUnit"
          ],
          "parameters": [
            {
              "name": "pageToken",
              "in": "query",
              "schema": {
                "type": "string",
                "nullable": true
              }
            },
            {
              "name": "take",
              "in": "query",
              "schema": {
                "type": "integer",
                "format": "int32",
                "default": 100
              }
            },
            {
              "name": "changedAfter",
              "in": "query",
              "schema": {
                "type": "string",
                "format": "date-time",
                "nullable": true
              }
            },
            {
              "name": "changedUntil",
              "in": "query",
              "schema": {
                "type": "string",
                "format": "date-time",
                "nullable": true
              }
            },
            {
              "name": "shortName",
              "in": "query",
              "schema": {
                "type": "string",
                "nullable": true
              }
            },
            {
              "name": "X-Raet-Tenant-Id",
              "in": "header",
              "description": "Tenant Id",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/OrganizationUnit"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/v1.0/organizationUnits/{organizationalUnitId}": {
        "get": {
          "tags": [
            "OrganizationUnit"
          ],
          "parameters": [
            {
              "name": "organizationalUnitId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "nullable": true
              }
            },
            {
              "name": "pageToken",
              "in": "query",
              "schema": {
                "type": "string",
                "nullable": true
              }
            },
            {
              "name": "take",
              "in": "query",
              "schema": {
                "type": "integer",
                "format": "int32",
                "default": 100
              }
            },
            {
              "name": "changedAfter",
              "in": "query",
              "schema": {
                "type": "string",
                "format": "date-time",
                "nullable": true
              }
            },
            {
              "name": "changedUntil",
              "in": "query",
              "schema": {
                "type": "string",
                "format": "date-time",
                "nullable": true
              }
            },
            {
              "name": "X-Raet-Tenant-Id",
              "in": "header",
              "description": "Tenant Id",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/OrganizationUnit"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/v1.0/roleassignments": {
        "get": {
          "tags": [
            "RoleAssignment"
          ],
          "summary": "Returns all RoleAssignments.",
          "parameters": [
            {
              "name": "pageToken",
              "in": "query",
              "schema": {
                "type": "string",
                "nullable": true
              }
            },
            {
              "name": "take",
              "in": "query",
              "schema": {
                "type": "integer",
                "format": "int32",
                "default": 100
              }
            },
            {
              "name": "changedAfter",
              "in": "query",
              "description": "Filter recods which are changed after the date and time given (Utc time). Optional.",
              "schema": {
                "type": "string",
                "description": "Filter recods which are changed after the date and time given (Utc time). Optional.",
                "format": "date-time",
                "nullable": true
              }
            },
            {
              "name": "changedUntil",
              "in": "query",
              "description": "Filter records which are changed before the date and time given. Maximum allowed value is current Utc time.\r\nMandatory when changedAfter is given.",
              "schema": {
                "type": "string",
                "description": "Filter records which are changed before the date and time given. Maximum allowed value is current Utc time.\r\nMandatory when changedAfter is given.",
                "format": "date-time",
                "nullable": true
              }
            },
            {
              "name": "X-Raet-Tenant-Id",
              "in": "header",
              "description": "Tenant Id",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/RoleAssignment"
                    }
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/RoleAssignment"
                  }
                }
              }
            }
          }
        }
      }
    },
    "components": {
      "schemas": {
        "Classification": {
          "type": "object",
          "properties": {
            "id": {
              "type": "string",
              "nullable": true
            },
            "code": {
              "type": "string",
              "nullable": true
            },
            "fullName": {
              "type": "string",
              "nullable": true
            },
            "validFrom": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            },
            "validUntil": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            }
          }
        },
        "Company": {
          "type": "object",
          "properties": {
            "id": {
              "type": "string",
              "nullable": true
            },
            "code": {
              "type": "string",
              "nullable": true
            },
            "fullName": {
              "type": "string",
              "nullable": true
            },
            "validFrom": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            },
            "validUntil": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            }
          }
        },
        "ContractType": {
          "type": "object",
          "properties": {
            "code": {
              "type": "string",
              "nullable": true
            },
            "fullName": {
              "type": "string",
              "nullable": true
            },
            "validFrom": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            },
            "validUntil": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            }
          }
        },
        "CostCenter": {
          "type": "object",
          "properties": {
            "code": {
              "type": "string",
              "nullable": true
            },
            "fullName": {
              "type": "string",
              "nullable": true
            },
            "validFrom": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            },
            "validUntil": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            }
          }
        },
        "CertificateResponseDto": {
          "type": "object",
          "properties": {
            "ticketId": {
              "type": "string",
              "nullable": true
            },
            "description": {
              "type": "string",
              "nullable": true
            },
            "size": {
              "type": "integer",
              "format": "int64"
            },
            "tenantId": {
              "type": "string",
              "nullable": true
            },
            "creationDateTime": {
              "type": "string",
              "format": "date-time"
            }
          }
        },
        "FileStatus": {
          "enum": [
            0,
            1,
            2,
            3
          ],
          "type": "integer",
          "format": "int32"
        },
        "FileUploadStatusDto": {
          "type": "object",
          "properties": {
            "status": {
              "$ref": "#/components/schemas/FileStatus"
            },
            "errorMessages": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "nullable": true
            }
          }
        },
        "Gender": {
          "enum": [
            0,
            1,
            2,
            9
          ],
          "type": "integer",
          "format": "int32"
        },
        "PhoneNumberType": {
          "enum": [
            0,
            1,
            2
          ],
          "type": "integer",
          "format": "int32"
        },
        "PhoneNumber": {
          "type": "object",
          "properties": {
            "type": {
              "$ref": "#/components/schemas/PhoneNumberType"
            },
            "number": {
              "type": "string",
              "nullable": true
            }
          }
        },
        "EmailAddressType": {
          "enum": [
            0,
            1
          ],
          "type": "integer",
          "format": "int32"
        },
        "EmailAddress": {
          "type": "object",
          "properties": {
            "type": {
              "$ref": "#/components/schemas/EmailAddressType"
            },
            "address": {
              "type": "string",
              "nullable": true
            }
          }
        },
        "AddressType": {
          "enum": [
            0,
            1
          ],
          "type": "integer",
          "format": "int32"
        },
        "Address": {
          "type": "object",
          "properties": {
            "type": {
              "$ref": "#/components/schemas/AddressType"
            },
            "street": {
              "type": "string",
              "nullable": true
            },
            "houseNumber": {
              "type": "string",
              "nullable": true
            },
            "houseNumberAddition": {
              "type": "string",
              "nullable": true
            },
            "postalCode": {
              "type": "string",
              "nullable": true
            },
            "city": {
              "type": "string",
              "nullable": true
            },
            "country": {
              "type": "string",
              "nullable": true
            }
          }
        },
        "WorkUnit": {
          "enum": [
            0,
            1
          ],
          "type": "integer",
          "format": "int32"
        },
        "WorkPeriod": {
          "enum": [
            0,
            1,
            2,
            3,
            4
          ],
          "type": "integer",
          "format": "int32"
        },
        "WorkingAmount": {
          "type": "object",
          "properties": {
            "amountOfWork": {
              "type": "number",
              "format": "double",
              "nullable": true
            },
            "unitOfWork": {
              "$ref": "#/components/schemas/WorkUnit"
            },
            "periodOfWork": {
              "$ref": "#/components/schemas/WorkPeriod"
            }
          }
        },
        "Employment": {
          "type": "object",
          "properties": {
            "employmentCode": {
              "type": "string",
              "nullable": true
            },
            "dischargeDate": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            },
            "hireDate": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            },
            "company": {
              "type": "string",
              "nullable": true
            },
            "employmentType": {
              "type": "string",
              "nullable": true
            },
            "originalHireDate": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            },
            "jobProfile": {
              "type": "string",
              "nullable": true
            },
            "organizationUnit": {
              "type": "string",
              "nullable": true
            },
            "workingAmount": {
              "$ref": "#/components/schemas/WorkingAmount"
            },
            "contractType": {
              "type": "string",
              "nullable": true
            },
            "location": {
              "type": "string",
              "nullable": true
            },
            "classification": {
              "type": "string",
              "nullable": true
            },
            "costCenter": {
              "type": "string",
              "nullable": true
            },
            "establishmentUnit": {
              "type": "string",
              "nullable": true
            },
            "salaryScale": {
              "type": "string",
              "nullable": true
            }
          }
        },
        "Extension": {
          "type": "object",
          "properties": {
            "key": {
              "type": "string",
              "nullable": true
            },
            "value": {
              "type": "string",
              "nullable": true
            }
          }
        },
        "Employee": {
          "type": "object",
          "properties": {
            "id": {
              "type": "string",
              "nullable": true
            },
            "personCode": {
              "type": "string",
              "nullable": true
            },
            "isDeleted": {
              "type": "boolean",
              "nullable": true
            },
            "initials": {
              "type": "string",
              "nullable": true
            },
            "firstNames": {
              "type": "string",
              "nullable": true
            },
            "knownAs": {
              "type": "string",
              "nullable": true
            },
            "lastName": {
              "type": "string",
              "nullable": true
            },
            "lastNamePrefix": {
              "type": "string",
              "nullable": true
            },
            "lastNameAtBirth": {
              "type": "string",
              "nullable": true
            },
            "lastNameAtBirthPrefix": {
              "type": "string",
              "nullable": true
            },
            "nameAssembleOrder": {
              "type": "string",
              "nullable": true
            },
            "partnerName": {
              "type": "string",
              "nullable": true
            },
            "partnerNamePrefix": {
              "type": "string",
              "nullable": true
            },
            "titlePrefix": {
              "type": "string",
              "nullable": true
            },
            "titleSuffix": {
              "type": "string",
              "nullable": true
            },
            "gender": {
              "$ref": "#/components/schemas/Gender"
            },
            "birthDate": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            },
            "deceased": {
              "type": "boolean",
              "nullable": true
            },
            "userUID": {
              "type": "string",
              "nullable": true
            },
            "phoneNumbers": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/PhoneNumber"
              },
              "description": "Gets PhoneNumber of the employee.",
              "nullable": true,
              "readOnly": true
            },
            "emailAddresses": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/EmailAddress"
              },
              "description": "Gets email addresses of the employee.",
              "nullable": true,
              "readOnly": true
            },
            "addresses": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/Address"
              },
              "description": "Gets Addresses of the employee.",
              "nullable": true,
              "readOnly": true
            },
            "employments": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/Employment"
              },
              "description": "Gets employement details of the employee.",
              "nullable": true,
              "readOnly": true
            },
            "extensions": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/Extension"
              },
              "nullable": true,
              "readOnly": true
            },
            "validFrom": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            },
            "validUntil": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            }
          }
        },
        "EmploymentType": {
          "type": "object",
          "properties": {
            "code": {
              "type": "string",
              "nullable": true
            },
            "fullName": {
              "type": "string",
              "nullable": true
            },
            "validFrom": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            },
            "validUntil": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            }
          }
        },
        "JobProfile": {
          "type": "object",
          "properties": {
            "id": {
              "type": "string",
              "nullable": true
            },
            "isDeleted": {
              "type": "boolean",
              "nullable": true
            },
            "shortName": {
              "type": "string",
              "nullable": true
            },
            "fullName": {
              "type": "string",
              "nullable": true
            },
            "jobFamily": {
              "type": "string",
              "nullable": true
            },
            "extensions": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/Extension"
              },
              "nullable": true,
              "readOnly": true
            },
            "validFrom": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            },
            "validUntil": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            }
          }
        },
        "Location": {
          "type": "object",
          "properties": {
            "id": {
              "type": "string",
              "nullable": true
            },
            "code": {
              "type": "string",
              "nullable": true
            },
            "fullName": {
              "type": "string",
              "nullable": true
            },
            "validFrom": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            },
            "validUntil": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            }
          }
        },
        "OrganizationUnit": {
          "type": "object",
          "properties": {
            "isDeleted": {
              "type": "boolean",
              "nullable": true
            },
            "id": {
              "type": "string",
              "nullable": true
            },
            "shortName": {
              "type": "string",
              "nullable": true
            },
            "fullName": {
              "type": "string",
              "nullable": true
            },
            "organizationUnitType": {
              "type": "string",
              "nullable": true
            },
            "parentOrgUnit": {
              "type": "string",
              "nullable": true
            },
            "manager": {
              "type": "string",
              "nullable": true
            },
            "organizationalUnitId": {
              "type": "string",
              "nullable": true
            },
            "extensions": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/Extension"
              },
              "nullable": true,
              "readOnly": true
            },
            "validFrom": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            },
            "validUntil": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            }
          }
        },
        "RoleAssignment": {
          "type": "object",
          "properties": {
            "isDeleted": {
              "type": "boolean",
              "nullable": true
            },
            "id": {
              "type": "string",
              "nullable": true
            },
            "organizationUnitCode": {
              "type": "string",
              "nullable": true
            },
            "shortName": {
              "type": "string",
              "nullable": true
            },
            "personCode": {
              "type": "string",
              "nullable": true
            },
            "personID": {
              "type": "string",
              "nullable": true
            },
            "startdate": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            },
            "enddate": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            },
            "validFrom": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            },
            "validUntil": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            }
          }
        },
        "SalaryScale": {
          "type": "object",
          "properties": {
            "code": {
              "type": "string",
              "nullable": true
            },
            "fullName": {
              "type": "string",
              "nullable": true
            },
            "validFrom": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            },
            "validUntil": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            }
          }
        }
      },
      "securitySchemes": {
        "Bearer": {
          "type": "apiKey",
          "description": "JWT Authorization header using the Bearer scheme. </br> \r\n                      Enter 'Bearer' [space] and then your token in the text input below.\r\n                      </br>Example: 'Bearer 12345abcdef'",
          "name": "Authorization",
          "in": "header"
        }
      }
    },
    "security": [
      {
        "Bearer": [ ]
      }
    ]
  }